<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<h1>Hello World</h1>
<button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>
</body>
<script>
    const token = searchParam('token')

    if (token) {
        localStorage.setItem("access_token", token)
    }

    function searchParam(key) {
        return new URLSearchParams(location.search).get(key);
    }
</script>
</html>